{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adapter</title>
    <!-- Core CSS - Include with every page -->
    <link href="{%static 'assets/plugins/bootstrap/bootstrap.css' %}" rel="stylesheet" />
    <link href="{%static 'assets/font-awesome/css/font-awesome.css' %}" rel="stylesheet" />
    <link href="{%static 'assets/plugins/pace/pace-theme-big-counter.css' %}" rel="stylesheet" />
    <link href="{%static 'assets/css/style.css' %}" rel="stylesheet" />
    <link href="{%static 'assets/css/main-style.css' %}" rel="stylesheet" />
    <!-- Page-Level CSS -->
    <link href="{%static 'assets/plugins/morris/morris-0.4.3.min.css' %}" rel="stylesheet" />
</head>

<body>
    <!--  wrapper -->
    <div id="wrapper">
        <!-- navbar top -->
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation" id="navbar">
            <!-- navbar-header -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{%url 'Index' %}">
                    <img src="{%static 'assets/img/logo.png' %}" alt="" />
                </a>
            </div>
            <!-- end navbar-header -->
            <!-- navbar-top-links -->
            <ul class="nav navbar-top-links navbar-right">
                <!-- main dropdown -->

                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-3x"></i>
                    </a>
                    <!-- dropdown user-->
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="#"><i class="fa fa-user fa-fw"></i>User Profile</a>
                        </li>
                        <li><a href="#"><i class="fa fa-gear fa-fw"></i>Settings</a>
                        </li>
                        <li class="divider"></li>
                        <li><a href="{%url 'SignOut' %}"><i class="fa fa-sign-out fa-fw"></i>Logout</a>
                        </li>
                    </ul>
                    <!-- end dropdown-user -->
                </li>
                <!-- end main dropdown -->
            </ul>
            <!-- end navbar-top-links -->

        </nav>
        <!-- end navbar top -->

        <!-- navbar side -->
        <nav class="navbar-default navbar-static-side" role="navigation">
            <!-- sidebar-collapse -->
            <div class="sidebar-collapse">
                <!-- side-menu -->
                <ul class="nav" id="side-menu">
                    <li>
                        <!-- user image section-->
                        <div class="user-section">
                            <div class="user-section-inner">
                                <img src="{{userdetails.User_Image.url}}" alt="">
                            </div>
                            <div class="user-info">
                                <div>{{request.user.first_name}} <strong></strong></div>
                                <div class="user-text-online">
                                    UserId: {{userdetails.User_Key}}
                                </div>
                            </div>
                        </div>
                        <!--end user image section-->
                    </li>
                    <li class="sidebar-search">
                        <!-- search section-->
                        <h4 style="color:white">Sent a Reference Link:</h4>
                        <div class="input-group custom-search-form">
                            <form action="{%url 'SentRefrelLink' userdetails.id %}" method="post">
                                {% csrf_token %}
                                <input type="email" class="form-control" name="email" placeholder="Email id">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="submit">
                                        Sent
                                    </button>
                                </span>
                            </form>
                        </div>
                        <!--end search section-->
                    </li>
                    <li class="selected">
                        <a href="{%url 'Index' %}"><i class="fa fa-dashboard fa-fw"></i>Dashboard</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-sitemap fa-fw"></i> My Team<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="{%url 'MyTeamDirect' %}">Direct</a>
                            </li>
                            <li>
                                <a href="{%url 'Myteam' %}">Team</a>
                            </li>
                            <li>
                                <a href="#">Team Level</a>
                            </li>
                        </ul>
                        <!-- second-level-items -->
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-flask fa-fw"></i>My Earning<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="{%url 'SponserIncome' %}">Sponser Income</a>
                            </li>
                            <li>
                                <a href="{%url 'Levelincome' %}">Level Income</a>
                            </li>
                            <li>
                                <a href="{%url 'Rebirthincome' %}">ReBirth Income</a>
                            </li>
                            <li>
                                <a href="#">Add-on Sponser Income</a>
                            </li>
                            <li>
                                <a href="#">Add-on level Income</a>
                            </li>
                            <li>
                                <a href="#">Add-on Cycle Sponser Income</a>
                            </li>
                            <li>
                                <a href="#">Add-on Cycle Level Income</a>
                            </li>
                        </ul>
                        <!-- second-level-items -->
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i>Withdrawal<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="{%url 'Withdrawal' %}">Withdrawal</a>
                            </li>
                            <li>
                                <a href="{%url 'WithdrawalHistory' %}">Withdrawal History</a>
                            </li>
                        </ul>
                        <!-- second-level-items -->
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-files-o fa-fw"></i>Reports</a>

                        <!-- second-level-items -->
                    </li>
                </ul>
                <!-- end side-menu -->
            </div>
            <!-- end sidebar-collapse -->
        </nav>
        <!-- end navbar side -->
        <!--  page-wrapper -->

        <div id="page-wrapper">

            {% block content %}
            <div class="row">
                <!-- Page Header -->
                <div class="col-lg-12">
                    <h1 class="page-header">Dashboard</h1>
                    <h2 style="text-align: right;"><a class="btn btn-warning btn-lg" href="{%url 'Rebirth' %}">Click
                            Here For Rebirth</a></h2>
                </div>
                <!--End Page Header -->
            </div>
            {% for message in messages  %}
            <div class="alert alert-info">
                &nbsp;Hello ! </b> <b>{{message}} </b>

            </div>

            {% endfor %}

            <div class="row">
                <!--quick info section -->
                <div class="col-lg-3">
                    <div class="alert alert-danger text-center">
                        &nbsp;<b></b>Total Income <br>
                        <br>
                        <h4>${{total}}</h4>

                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="alert alert-success text-center">
                        &nbsp;<b></b>Sponser Income <br><br>
                        <h4>${{userdetails.Sponser_income}}</h4>

                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="alert alert-info text-center">
                        &nbsp;<b></b>Level Income <br><br>
                        <h4>${{userdetails.Level_income}}</h4>

                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="alert alert-warning text-center">
                        &nbsp;<b> </b>Rebirth Income
                        <br><br>

                        <h4>${{userdetails.ReBirth_Income}}</h4>

                    </div>
                </div>
                <!--end quick info section -->
            </div>

            <div class="row">
                <!--quick info section -->
                <div class="col-lg-3">
                    <div class="panel panel-primary text-center no-boder">
                        <div class="panel-footer">
                            <span class="panel-eyecandy-title">Add-On Level
                            </span>
                        </div>
                        <div class="panel-body alert-danger">
                            <i class="fa fa-bar-chart-o fa-3x"></i>
                            <h3>{{teammembers_count}} </h3>
                        </div>

                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="panel panel-primary text-center no-boder">
                        <div class="panel-footer">
                            <span class="panel-eyecandy-title">Add-On Sponsor
                            </span>
                        </div>
                        <div class="panel-body alert-success">
                            <i class="fa fa-pencil-square-o fa-3x"></i>
                            <h3>{{T1_count}}</h3>
                        </div>

                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="panel panel-primary text-center no-boder">
                        <div class="panel-footer">
                            <span class="panel-eyecandy-title">Add-On Cycle Level
                            </span>
                        </div>
                        <div class="panel-body alert-info">
                            <i class="fa fa fa-floppy-o fa-3x"></i>
                            <h3>20 GB</h3>
                        </div>

                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="panel panel-primary text-center no-boder">
                        <div class="panel-footer">
                            <span class="panel-eyecandy-title">Add-On Cycle Sponsor
                            </span>
                        </div>
                        <div class="panel-body alert-warning">
                            <i class="fa fa-thumbs-up fa-3x"></i>
                            <h3>2,700 </h3>
                        </div>
                    </div>
                </div>
                <!--end quick info section -->
            </div>

            <div class="row">
                <!--quick info section -->
                <div class="col-lg-4">
                    <div class="panel panel-primary text-center no-boder">
                        <div class="panel-footer">
                            <span class="panel-eyecandy-title">Sponser
                            </span>
                        </div>
                        <div class="panel-body alert-danger">

                            <div class="row">
                                <div class="col-4">
                                    <img src="{{T1_S.User_Image.url}}" style="width:100px;height:120px" alt="">
                                </div>
                                <div class="col-8">
                                    <h4>{{T1_S.UserId.first_name}}</h4>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="panel panel-primary text-center no-boder">
                        <div class="panel-footer">
                            <span class="panel-eyecandy-title">Add-On Sponsor Team Members
                            </span>
                        </div>
                        <div class="panel-body alert-success">
                            <!-- <i class="fa fa-pencil-square-o fa-3x"></i> -->
                            {% for i  in T1  %}
                            <div class="row">
                                <div class="col-4">
                                    <img src="{{i.team.User_Image.url}}" style="width:50px;height:60px" alt="">
                                </div>
                                <div class="col-8">
                                    <h4>{{i.team.UserId.first_name}}</h4>
                                </div>
                            </div>

                            {% endfor %}
                        </div>

                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="panel panel-primary text-center no-boder">
                        <div class="panel-footer">
                            <span class="panel-eyecandy-title">Add-On Level Team Members
                            </span>
                        </div>
                        <div class="panel-body alert-info">
                            {% for i  in teammembers  %}
                            <div class="row">
                                <div class="col-4">
                                    <img src="{{i.User_Image.url}}" style="width:50px;height:60px" alt="">
                                </div>
                                <div class="col-8">
                                    <h4>{{i.UserId.first_name}}</h4>
                                </div>
                            </div>

                            {% endfor %}
                        </div>

                    </div>
                </div>

                <!--end quick info section -->
            </div>

            {% endblock content %}

        </div>
        <!-- end page-wrapper -->

    </div>
    <!-- end wrapper -->

    <!-- Core Scripts - Include with every page -->
    <script src="{%static 'assets/plugins/jquery-1.10.2.js' %}"></script>
    <script src="{%static 'assets/plugins/bootstrap/bootstrap.min.js' %}"></script>
    <script src="{%static 'assets/plugins/metisMenu/jquery.metisMenu.js' %}"></script>
    <script src="{%static 'assets/plugins/pace/pace.js' %}"></script>
    <script src="{%static 'assets/scripts/siminta.js' %}"></script>
    <!-- Page-Level Plugin Scripts-->
    <script src="{%static 'assets/plugins/morris/raphael-2.1.0.min.js' %}"></script>
    <script src="{%static 'assets/plugins/morris/morris.js' %}"></script>
    <script src="{%static 'assets/scripts/dashboard-demo.js' %}"></script>

</body>

</html>