{% extends "index.html" %}
{% block content %}
<div class="row">
    <!-- Page Header -->
    <div class="col-lg-12">
        <h1 class="page-header">Withdrawal History</h1>
    </div>
    <!--End Page Header -->
</div>

<div class="col-lg-12">
    
    {% for message in messages  %}
    <div class="alert alert-info">
        &nbsp;Hello ! </b> <b>{{message}} </b>

    </div>
        
    {% endfor %}
        
    
</div>

<div class="row">
    <!--quick info section -->
    <div class="col-lg-3">
        <div class="alert alert-danger text-center">
            &nbsp;<b></b>Total Income <br>
            <br>
            <h4>${{total}}</h4>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="alert alert-success text-center">
            &nbsp;<b></b>Sponser Income <br><br>
            <h4>${{userdetails.Sponser_income}}</h4>
            
        </form>

        </div>
    </div>
    <div class="col-lg-3">
        <div class="alert alert-info text-center">
            &nbsp;<b></b>Level Income <br><br>
            <h4>${{userdetails.Level_income}}</h4>
            


        </div>
    </div>
    <div class="col-lg-3">
        <div class="alert alert-warning text-center">
            &nbsp;<b> </b>Rebirth Income
            <br><br>

            <h4>${{userdetails.ReBirth_Income}}</h4>

        </div>
    </div>
    <!--end quick info section -->
</div>


<div class="row">
    <div class="col-lg-12">
        <!--Collapsible Accordion Panel Group   -->
        <div class="panel panel-default">
            <div class="panel-heading">
                Withdrawal History
            </div>
            <div class="panel-body">
                <div class="panel-group" id="accordion">
                    
                    {% for h in history %}
                        
                        
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Withdrawel on {{h.date}}</a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <h5>By: {{h.user.first_name}}</h5>
                                <h4>Amount: ${{h.Amount}}</h4>
                                <h6>From: {{h.IncomeType}}</h6>
                            </div>
                        </div>
                    </div>
                    {% endfor %}

                    
                </div>
            </div>
        </div>
         <!--End Collapsible Accordion Panel Group   -->
    </div>
</div>
{% endblock %}